pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
dependency-reduced-pom.xml
buildNumber.properties
.mvn/timing.properties

# Avoid ignoring Maven wrapper jar file (.jar files are usually ignored)
!/.mvn/wrapper/maven-wrapper.jar


# Compiled class file
*.class

# Screenshots Folder
src/main/resources/screenshots
*.jpg


# Log file
*.log

# Package Files #
*.jar
*.war
*.ear
*.zip
*.tar.gz
*.rar


# inteliJ files
*.iml


#Other Files
.idea/
*.iml
target/
.DS_Store
Solarwinds-at.iml
Solarwinds-at.ipr
Solarwinds-at.iws
Solarwinds-at.iws___jb_tmp___
*.exe





